<div class="login-container">
    <div class="login form">
      <span class="noti">You have to login first!</span>
      <header>Login</header>
      <form method="POST" action="/login/authen">
        <input type="text" placeholder="Enter your username" name="username">
        <input type="password" placeholder="Enter your password" name="password">
        <a href="#">Forgot password?</a>
        <input type="submit" class="button" value="Login">
      </form>
      <div class="signup">
        <span class="signup">Don't have an account?
         <a href="/register">Register</a>
        </span>
      </div>
    </div>
</div>
